h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content {
  display: grid;
  margin: 0 auto;
  justify-items: center;
  box-sizing: border-box;
  max-width: 80rem;
}

.lines {
  display: flex;
  place-items: center;
  gap: 6rem;
  margin-top: 3rem;
}

#line {
  content: "";
  display: block;
  height: 6px;
  width: 21rem;
  background-color: #21AA85;
}

#line1 {
  content: "";
  display: block;
  height: 6px;
  width: 21rem;
  background-color: #21AA85;
}

#line2 {
  content: "";
  display: block;
  height: 6px;
  width: 21rem;
  background-color: #21AA85;
}


.container {
  display: grid;
  padding:0 2rem 2rem 2rem;
  gap: 2rem;
}

.container p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: left;
}

.check {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  gap: 2rem;
}

.font {
  font-size: 1.3rem;
  line-height: 1.85rem;
}

.box {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

.input {
  height: 32px;
  width: 32px;
  border-radius: 4px; 
}

label {
  place-self: center;
}

.select {
  justify-content: left;
}

select {
  width: 20rem;
  padding: 0.5rem;
}

select option {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

@media (max-width:1235px) {
  .lines {
    gap: 4rem;
  }
  #line {
    width: 20rem;
  }
  
  #line1 {
    width: 20rem;
  }
  
  #line2 {
    width: 20rem;
  }
}

@media (max-width:1150px) {
  #line {
    width: 17rem;
  }
  
  #line1 {
    width: 17rem;
  }
  
  #line2 {
    width: 17rem;
  }
}

@media (max-width:1030px) {
  #line {
    width: 14rem;
  }
  
  #line1 {
    width: 14rem;
  }
  
  #line2 {
    width: 14rem;
  }
}

@media (max-width:850px) {
  .font {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .container p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .container {
    padding: 0 1rem 2rem 1rem;
    margin-top: 2rem;
  }

  #line {
    width: 11rem;
  }
  
  #line1 {
    width: 11rem;
  }
  
  #line2 {
    width: 11rem;
  }
  select {
    width: 15rem;
  }
  select option {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@media (max-width:730px) {
  .check {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .empty {
    display: none;
  }
  .font {
    font-size: 1rem;
    line-height: 1.125rem;
  }
  .lines {
    gap: 4rem;
  }
  #line {
    width: 10rem;
  }
  
  #line1 {
    width: 10rem;
  }
  
  #line2 {
    width: 10rem;
  }
  select {
    width: 10rem;
  }
  select option {
    font-size: .85rem;
    line-height: 1rem;
  }
}

@media (max-width:630px) {
  #line {
    width: 8rem;
  }
  
  #line1 {
    width: 8rem;
  }
  
  #line2 {
    width: 8rem;
  }
}

@media (max-width:550px) {
  #line {
    width: 6rem;
  }
  
  #line1 {
    width: 6rem;
  }
  
  #line2 {
    width: 6rem;
  }
  .container {
    margin-top: 1.5rem;
  }
  .input {
    height: 1.75rem;
    width: 1.75rem;
  }
}

@media (max-width:360px) {
  .lines {
    gap: 2rem;
    margin-top: 2rem;
  }
  #line {
    width: 5rem;
  }
  
  #line1 {
    width: 5rem;
  }
  
  #line2 {
    width: 5rem;
  }
  .container {
    margin-top: 2rem;
    padding-right: 1.5rem;
  }
  .container p {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .font {
    font-size: .75rem;
    line-height: 1rem;
  }
  .input {
    height: 1.125rem;
    width: 1.125rem;
  }
  select {
    width: 20rem;
    height: 2.5rem;  
  }
  select option {
    font-size: .75rem;
    line-height: 1rem;
  }
}