.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.backIcon {
  display: flex;
  gap: 3px;
  cursor: pointer;
  align-items: center;
}

.line {
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .backIcon {
    font-size: 1rem;
    padding-inline: 0;
  }

  .line {
    margin-bottom: 2rem;
  }
}
