.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem;
}

.backIcon {
  display: flex;
  gap: 3px;
  cursor: pointer;
}

.line {
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .registerTitle {
    font-size: 1rem;
    padding-inline: 0;
  }

  .line {
    margin-bottom: 2rem;
  }
}
