.signatures_container {
  text-align: center;
  margin-block: 2rem;
}

.signatures {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 300px;

  display: inline-block;
  vertical-align: center;
}

.signature_0:first-child,
.signature_1:nth-child(2),
.signature_2:nth-child(3) {
  background-color: #18ac99;
}
