.cadastroFormSection {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 2rem);
  margin: 0 0.5rem;
}

.cadastroFormSectionInputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .cadastroFormSectionInputContainer {
    grid-template-columns: 1fr;
  }
}

.cadastroFormDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
}

.formTitle {
  font-size: 1.2rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .formTitle {
    font-size: 2rem;
  }
}

.formParagraph {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .formParagraph {
    font-size: 1rem;
  }
}

.cadastroFormSectionInputLabel {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2rem;
}

.cadastroFormSectionInputText {
  border: 1px solid #d8d8d8;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2rem;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .cadastroFormSectionInputText {
    font-size: 1rem;
    padding: 1rem;
  }
}

.cadastroFormSectionInputText > * {
  border: none;
}

.inputError {
  color: red;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin: 0;
}

.inputError::before {
  content: "* ";
}

.cadastroFormDivContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 2rem;
  padding: 0 2rem 2rem 2rem;
}

@media (max-width: 768px) {
  .cadastroFormDivContainer {
    grid-template-columns: 1fr 1fr;
  }
  .empty {
    display: none;
  }
}

.cadastroFormDivContainer P {
  grid-column: 1/ -1;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
}

@media (max-width: 768px) {
  .cadastroFormDivContainer p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.cadastroFormInputCheckbox {
  height: 1rem;
  width: 1rem;
  border-radius: 4px;
}

.cadastroFormDivCheckbox {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

.buttonsRow {
  display: flex;
  margin-left: auto;
}

.cadastroPassButton {
  background-color: transparent;
  border: transparent;
  color: grey;
  position: absolute;
  right: 10px;
  top: 47px;
}
