.toggle {
  display: none;
}

.switch {
  position: relative;
  background: var(--Cinza-Mediano, #cdcdcd);
  width: 40px;
  height: 23px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 2px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.slider {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 21px;
  transition: all 0.5s ease-in-out;
}

.toggle:checked ~ .switch {
  background: var(--Verde-Escuro, #21aa85);
}

.toggle:checked ~ .switch .slider {
  transform: translateX(16px);
}
