
.banner-programa {
  font-family: 'Baloo', cursive, Arial, Helvetica, sans-serif;
  width: 1416px;
  max-width: 100%;
  margin: 0 auto;
  height: 176px;
  background: rgba(33, 170, 133, 0.8);
  background: -webkit-linear-gradient(to right, rgba(33, 170, 133, 0.8), #0FE0AA);
  background: linear-gradient(to right, rgba(33, 170, 133, 0.8), #0FE0AA);
}

.banner-programa p {
  font-size: 52px;
  color: #ffffff;
  text-align: end;
  padding-top: 100px;
  padding-right: 50px;
}

.programa-texto{
  width: 88%;
  margin:auto;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: 'opan sans', Arial, Helvetica, sans-serif;
}
.container-programa{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
gap: 160px;
margin: 40px 0;

}

.paz-icon{
  display: flex;
  align-items: center;
  font-size: 36px;
  gap: 24px;
  padding: 10px;
}
.programa-button{
display: flex;
align-items: center;
justify-content: center;

}

.programa-button p {
  display: flex;
  align-items: center;
  justify-content: center;
background-color: #B4EFE0;
width: 456px;
height: 88px;
border-radius: 10px;
font-size: 24px;
}

.container-programa-button{
  display: flex;
  align-items: center;
  justify-content: center;
 gap:40px;
 margin: 40px 0;
}
.programa-button2 {
display: flex;
align-items: center;

justify-content: center;
  width: 200px;
  height: 56px;
  border: 1px solid #18CA99;
  border-radius: 10px;
}
.programa-button2 p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 15px;
}

@media(max-width: 492px) {
  .banner-photos p {
    font-size: 30px;
  }
}

@media(max-width: 368px) {
  .banner-programa p{
    font-size: 40px;
    
  }
}
