:root {
  --primary-color: rgba(33, 170, 133, 1);
  --secondary-color: #18ca99;
  --tertiary-color: rgba(15, 224, 170, 1);
  --quaternary-color: rgba(255, 255, 255, 1);
}

@font-face {
  font-family: "Baloo";
  src: url("../fonts/baloo/Baloo2-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baloo";
  src: url("../fonts/baloo/Baloo2-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Baloo";
  src: url("../fonts/baloo/Baloo2-SemiBold.ttf");
  font-weight: 700;
  font-style: italic;
}

button,
select {
  cursor: pointer;
  background: none;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

div.banner-gradient {
  font-family: "Baloo", cursive, arial !important;
  width: 1416px;
  max-width: 100%;
  margin: 0 auto;
  height: 176px;
  background: #21aa85cc;
  background: -webkit-linear-gradient(
    to right,
    rgba(33, 170, 133, 0.8),
    #0fe0aa
  );
  background: linear-gradient(to right, rgba(33, 170, 133, 0.8), #0fe0aa);
  font-weight: normal;
}

div.modal-header {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  align-items: flex-start;
}

table {
  height: 100px !important;

  overflow: auto !important;
}

td,
th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Style to show full content on hover */
td:hover,
th:hover {
  white-space: normal;
  overflow: visible;
  text-overflow: inherit;
}

.btn-close {
  border: 1px solid black;
  border-radius: 0;
  filter: invert();
  width: 20px;
}
.react-datepicker__day {
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 40px !important;
  height: 40px !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-around;
}

.react-datepicker__week {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-datepicker__day-name {
  color: #707070;
}
.react-datepicker__day.react-datepicker__day--selected {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}

.react-datepicker__day:hover,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__day--selected:hover,
.react-datepicker__day--today:hover {
  color: var(--primary-color);
  background-color: #f2f2f2;
}

.react-datepicker__day--selected {
  color: var(--primary-color);
}

.react-datepicker__navigation {
  margin: 10px;
  background-color: #f0f0f0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 4px;
}

.react-datepicker__header {
  background-color: #fff !important;
  border-bottom: none !important;
}

.react-datepicker__day-names {
  border: none;
  margin-top: 10px;
}

.react-datepicker__day-name {
  color: #707070 !important;
  /* capitalize first letter */
  text-transform: capitalize;
  font-weight: bold;
}

.react-datepicker__current-month {
  margin-top: 8px !important;
  text-transform: capitalize;
  color: #444444 !important;
}

.react-datepicker__month-container {
  padding: 5px;
}

.react-datepicker__navigation-icon {
  margin-top: 10px;
}

.react-datepicker__navigation-icon--next {
  margin-left: 6px;
}

.react-datepicker__navigation-icon--previous {
  margin-right: 6px;
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--secondary-color) !important;
}

.jodit-workplace {
  overflow: scroll !important;
  min-height: 300px !important;
  max-height: 600px !important;
}

.dropdown-menu {
  display: none;
}

.jodit-toolbar__box {
  width: 100% !important;
}
