.main-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);

  padding-block: 2rem;
  width: min(95%, 80rem);
  margin-inline: auto;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-col-span-2 > .depoimentos-text p {
  font-size: 1.4rem;
}

.depoimentos-photos {
  text-align: center;
  margin-bottom: -58px;
}

.depoimentos-text {
  display: flex;
  align-items: center;
  min-height: 32rem;

  border: 1px solid #18ca99;
  border-radius: 0.625rem;

  text-align: center;
}

.depoimentos-text p {
  font-size: 1.25rem;
  padding: 3.125rem;
}

@media screen and (max-width: 1202px) {
  .main-container {
    grid-template-columns: 1fr;
  }

  .grid-col-span-2 {
    grid-column: 1;
  }

  .grid-col-span-2 > .depoimentos-text p {
    font-size: 1.125rem;
  }

  .depoimentos-text p {
    font-size: 1.125rem;
    padding-inline: 2rem;
    padding-block: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .grid-col-span-2 > .depoimentos-text p {
    font-size: 1rem;
    padding-inline: 1.5rem;
    padding-block: 3.5rem;
  }

  .depoimentos-text p {
    font-size: 1rem;
    padding-inline: 1.5rem;
  }

}
