.login_form_section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
}

@media (min-width: 900px) {
    .login_form_section {
        width: 20rem;
    }
}

@media (min-width: 1224px) {
    .login_form_section {
        width: 25rem;
    }
}

.login_form_section_input_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.login_form_section_buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login_form_section_title {
    font-size: 1.125rem;
    font-weight: 700;
}

.login_form_section_input_label {
    font-size: .75rem;
    
}

.login_form_section_buttons {
    font-size: .75rem;
    border: transparent;
    background-color: transparent;
    color: grey;
    font-weight: 700;
}

.login_form_button_enter {
    background-color: #18CA99;
    color: white;
    border: 1px solid #18CA99;
    border-radius: .3rem;
    padding: .5rem 1rem;
    font-size: .75rem;
    font-weight: 700;
}

.password_container {
    display: flex;
    align-items: center;
    position: relative;
}

.login_form_section_input_email {
    font-size: .75rem;
}

.login_form_section_input_password {
    font-size: .75rem;
    flex: 1;
}

.login_form_section_input_password_visibility {
    font-size: .75rem;
    background-color: transparent;
    border: transparent;
    position: absolute;
    right: 10px;
    color: grey;
}

.login_form_button_back {
    text-decoration: underline;
    color: black;
    background-color: transparent;
    border: transparent;
}