.login_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 95%;
    height: 100vh;
    margin: auto;
}

.login_section_form {
    border: 1px solid #000;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

@media (min-width: 900px) {
    .login_section_form {
        width: 40%;
    }
}

@media (min-width: 1224px) {
    .login_section_form {
        width: calc(100% / 3);
    }
}