.sectionTitle {
  color: #21aa85;
  font-family: Open Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  position: absolute;
  top: -25px;
  left: 0;
}
