.downloadRelatorios {
  color: var(--Links, #32b7e1);
  display: flex;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  gap: 8px;
  justify-content: right;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-top: 20px;
  text-decoration: underline;
  align-self: flex-end;
}
