.container {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 64px;
  margin-top: 20px;
}

.localizacaoTitulo {
  color: var(--Verde-Escuro, #21aa85);
  /* XXG */
  font-family: "Open Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
}

.subtitulo {
  color: var(--Cinza-Escuro, #707070);
  /* PP */
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.24px;
}

.downloadRelatorios {
  align-items: right;
  color: var(--Links, #32b7e1);
  display: flex;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  gap: 8px;
  justify-content: right;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-top: 20px;
  margin-right: 64px;
}

.h5 {
  color: var(--Preto, #444);

  /* P Bold */
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.36px;
}

.btnSubmit {
  background-color: var(--Verde-Escuro, #21aa85);
  border-radius: 16px;
  color: var(--Branco, #fff);

  /* P Bold */
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.36px;

  display: flex;
  width: 240px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 20px auto;
}
