.ItemTurmaContainer {
  display: flex;
  flex-direction: column;
}

.chave {
  color: var(--Preto, #444);
  /* P Bold */
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.36px;
  padding: 1px;
}

.valor {
  color: var(--Verde-Escuro, #21aa85);
  /* P Bold */
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.36px;
}

.editBtn {
  margin-left: 5px;
  width: 24px;
  height: 24px;
}

.isEditing {
  border-radius: 50px;
  width: 200px;
  height: 40px;
  border: solid 2px #707070;
  padding: 5px;
  color: #707070;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: 0.24px;
  word-wrap: break-word;
  margin-bottom: 10px;
  text-align: center;
}
