.ItemTurmaContainer {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.chave {
  color: var(--Preto, #444);
  /* P Bold */
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.36px;
  padding: 1px;
}

.valor {
  color: var(--Verde-Escuro, #21aa85);
  /* P Bold */
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.36px;
}

.valorTextArea {
  color: #707070;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 20px;
  padding: 5px;
  max-width: 600px;
  word-wrap: break-word;
}

.valorSelectbox {
  color: #707070;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 20px;
  width: fit-content;
  margin-bottom: 0.5rem;
}

.valorSelectbox div {
  width: fit-content;
}

.editBtn {
  margin-left: 5px;
  width: 24px;
  height: 24px;
}

.isEditing {
  border-radius: 50px;
  width: 200px;
  height: 40px;
  border: solid 2px #707070;
  padding: 5px;
  color: #707070;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: 0.24px;
  word-wrap: break-word;
  margin-bottom: 10px;
  text-align: center;
}

.isEditingTextArea {
  border-radius: 10px;
  width: 300px;
  height: 100px;
  border: solid 2px #707070;
  padding: 10px;
  color: #707070;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: 0.24px;
  word-wrap: break-word;
  margin-bottom: 10px;
  text-align: center;
  resize: none;
  overflow: auto;
}

.isEditingTextArea::-webkit-scrollbar {
  width: 4px;
}

.isEditingTextArea::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.isEditingTextArea::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 10px;
}

.isEditingTextArea::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor de fundo do controle deslizante ao passar o mouse */
}
