.avaliarCadernos_section {
  display: grid;
  grid-template-columns: 100px 150px 200px 300px 400px;
  background-color: #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  gap: 2rem;
  text-align: center;
  margin: 0 auto;
}

.avaliarCadernos_section h1 {
  grid-column: 1 / -1;
  background-color: #21aa85;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 40px;
  font-weight: bold;
  line-height: auto;
  color: #ffffff;
  padding: 20px;
}

.avaliarCadernos_itens {
  display: grid;
  place-items: center;
  gap: 16px;
}

.avaliarCadernos_itens h2 {
  font-size: 24px;
  line-height: auto;
  font-weight: 600;
}

.avaliarCadernos_itens div {
  font-size: 18px;
  line-height: auto;
  font-weight: 600;
}

.avaliarCadernos_opcoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avaliarCadernos_opcoes input {
  width: 20px;
  height: 20px;
  margin-bottom: 6px;
}

.avaliarCadernos_baixar {
  display: flex;
  gap: 8px;
  align-items: start;
}

.avaliarCadernos_opcoes input:nth-child(1) {
  margin-top: 50px;
}

@media (max-width: 1300px) {
  .avaliarCadernos_section {
    grid-template-columns: 80px 150px 200px 250px 320px;
  }
}

@media (max-width: 1130px) {
  .avaliarCadernos_section {
    grid-template-columns: 50px 100px 180px 200px 300px;
  }
}

@media (max-width: 1000px) {
  .avaliarCadernos_section {
    grid-template-columns: 50px 100px 160px 180px 260px;
  }
  .avaliarCadernos_itens h2 {
    font-size: 1.25rem;
  }
  .avaliarCadernos_itens div {
    font-size: 1rem;
  }
  .avaliarCadernos_itens {
    gap: 0.65rem;
  }
}

@media (max-width: 900px) {
  .avaliarCadernos_section {
    grid-template-columns: 50px 100px 140px 150px 220px;
  }
}

@media (max-width: 800px) {
  .avaliarCadernos_section {
    grid-template-columns: 30px 80px 150px 100px 200px;
    gap: 1rem;
  }
}

@media (max-width: 650px) {
  .avaliarCadernos_section {
    grid-template-columns: 30px 80px 100px 120px 150px;
  }
  .avaliarCadernos_itens h2 {
    font-size: 1rem;
  }
  .avaliarCadernos_itens div {
    font-size: 0.85rem;
  }
  .avaliarCadernos_opcoes input {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 550px) {
  .avaliarCadernos_section {
    grid-template-columns: 30px 80px 80px 90px 120px;
  }
  .avaliarCadernos_itens h2 {
    font-size: 0.9rem;
  }
  .avaliarCadernos_itens div {
    font-size: 0.65rem;
  }
}
