.h2Item {
  color: white;
  width: 784px;
  height: 65px;
  top: 50px;
  left: 0px;
  position: absolute;
}

.h2Container {
  position: relative;
  width: 1512px;
  height: 136px;
  top: 132px;
  background-image: linear-gradient(180deg, #24d47e 0%, #00b86d 100%);
  border-radius: 0px;
  z-index: 1;
}