.containerSection {
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1512px;
}

.h2Item {
  padding-left: 64px;
  color: white;
  font-family: Open Sans;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.96px;
}

.h2Container {
  background: hsla(163, 79%, 44%, 1);
  height: 136px;
  display: flex;
  place-items: center;
  justify-content: center;
  margin-bottom: 64px;
}

.section_p1 {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.48px;
  color: var(--Cinza-Escuro, #707070);
}

.section_p2 {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.64px;
  color: var(--Preto, #444);
}

.div_form {
  padding-left: 64px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
  margin-bottom: 32px;
}

.div_form label {
  grid-column: 1 / -1;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.48px;
  color: var(--Preto, #444);
}

.div_form input {
  border-radius: 5px;
  padding: 5px;
}

.div_button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_button button {
  background-color: hsla(164, 67%, 40%, 1);
  border-radius: 5px;
  width: 240px;
  height: 48px;
  color: var(--Branco, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.36px;
  margin-bottom: 64px;
  margin-top: 128px;
}
