.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid #cdcdcd 2px;
}

.sectionVoltar {
  display: flex;
  text-decoration: none;
  color: #333;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.sectionVoltar p {
  margin: 0;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.openModal {
  background-color: #21aa85;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-top: 2rem;
}

.profileTitle {
  margin-bottom: 5rem;
  font-family: Open Sans;
  font-style: normal;
  font-size: 32px;
  font-weight: 600;
  color: #444;
}
.profileInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5rem;
}
.profileNameEmail {
  margin-left: 50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #444;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profileName {
  font-size: 32px;
  margin-bottom: 0;
}
.profileEmail {
  font-size: 18px;
  margin-bottom: 0;
}
.profileImg {
  margin-right: 100px;
  width: 10rem;
  height: 11rem;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.fieldName {
  color: var(--Preto, #444);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  gap: 0.5rem;
}

/* .inlineFields {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
} */

.inlineFields {
  display: flex;
  flex-direction: row;
}

.formField input,
.inputInline {
  border: 2px solid #444;
  border-radius: 20px;
  padding: 0.75rem 1.5rem;
  width: 250px;
  margin-right: 1.5rem;
  color: var(--Cinza-Escuro, #707070);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.inputInline {
  /* display: block; */
}

.formField input::placeholder,
.inputInline::placeholder {
  color: var(--Cinza-Escuro, #707070);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.tituloContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.btnSalvar {
  display: block;
  background-color: #21aa85;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  width: 200px;
  margin-bottom: 40px;
  margin-top: 40px;
}
