/* PerfilComponent.module.css */

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid #cdcdcd 2px;
}

.sectionVoltar {
  display: flex;
  text-decoration: none;
  color: #333;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.sectionVoltar p {
  margin: 0;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.openModal {
  background-color: #21aa85;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.dadosContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-top: 2rem;
}
.profileInfo {
  display: flex;
  flex-direction: row;
}
.profileTitulo {
  margin-bottom: 5rem;
}
.profileNome {
  font-size: 32px;
  color: #444;
}
.profileEmail {
  font-size: 18px;
}
.profileImg {
  margin-right: 100px;
}
.profileNomeEmail {
  margin-left: 50px;
}
.profileContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 5px;
}
.profileContainer p {
  font-weight: bold;
}
.profileContainerRow {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.tituloContainerColumn {
  flex-direction: column;
}
.camposContainer {
  display: flex;
  gap: 30px;
}

.campo {
  border: 2px solid #444;
  border-radius: 20px;
  padding: 5px;
  width: 250px;
}
.tituloContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.titulo {
  margin-bottom: 0px;
  margin-right: 5px;
}

.btnSalvar {
  background-color: #21aa85;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  width: 200px;
  margin-bottom: 40px;
  margin-top: 40px;
}
