.tableContent {
  max-height: 960px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow-y: auto;
  position: relative;
}

.tableContent::-webkit-scrollbar {
  width: 12px;
  height: 57px;
  position: absolute;
}

.tableContent::-webkit-scrollbar-track {
  background: #f4f4f4;
}

.tableContent::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
  border: 1px solid #f4f4f4;
}

.tableTitles {
  display: flex;
  gap: 16px;
  background-color: #21aa85;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.tableTitle1 {
  margin: 0;
  background-color: #ffffff;
  color: #21aa85;
  padding: 8px 48px;
  font-size: 24px;
  line-height: 32px;
  font-weight: semibold;
  border-top-left-radius: 15px;
}

.tableTitle2 {
  background-color: #21aa85;
  color: #ffffff;
  font-size: 24px;
  line-height: 32px;
  font-weight: semibold;
  padding: 8px 30px;
  text-align: center;
}

.tableDate {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-inline: 16px;
}

.workshopListItem {
  display: flex;
  gap: 36px;
  align-content: center;
  height: 32px;
  border-bottom: 1px solid #cdcdcd;
}

.workshopSubject {
  margin-left: 1rem;
}

@media (max-width: 1000px) {
  .tableTitle1 {
    padding-right: 24px;
  }
  .tableTitle2 {
    padding-inline: 0px;
  }
  .workshopListItem {
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .tableTitle2 {
    padding-inline: 10px;
  }
}
