.titulo-devs{
  font-size: 48px;
  font-family: 'Baloo', cursive, Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 56px 48px 56px 48px;
  max-width: 100%;
} @media(max-width: 492px) {
  .titulo-devs p {
    font-size: 30px;
  }
}

.primeiro-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1416px;
  margin: 0 auto;
}
.adjust-dev{
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;

}
.adjust-dev a{
  color: black
}

.segundo-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 57px;
  max-width: 1416px;
  margin: 0 auto;
}

.button-devs{
  text-align: center;
  padding-top: 56px;
  padding-bottom: 56px;

}
.button-devs a{
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  border: 1px solid #18CA99;
  padding: 15px;
  border-radius: 15px;
}
