@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Raleway:wght@500;700&family=Roboto&display=swap");

.styles-header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.styles-header * {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  z-index: 2;
}

.navbar-light {
  padding: 0 !important;
  z-index: 2;
}

a.nav-link {
  width: max-content;
  color: #2a2a2a;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-size: 20px;
}

a.nav-link:hover {
  color: rgba(33, 170, 133, 1);
  font-size: 22px;
}

.container-fluid {
  background-color: white !important;
  height: 156px;
  max-width: 100%;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.479);
  margin: 0;
  z-index: 2;
}

#buttons-header {
  justify-content: space-around;
  font-size: 24px;
  width: 100%;
}

.navbar-toggler .collapsed {
  outline: 0 !important;
  border: 0 !important;
}

@media (max-width: 718px) {
  .container-fluid {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 24px !important;
  }

  .styles-header * {
    font-size: 20px;
  }
}

.logo-header {
  height: auto;
  min-width: 120px;
  aspect-ratio: 2.16;
  position: relative;
  flex: 1;
  max-width: 300px;
  margin: 0;
}

@media (min-width: 992px) {
  .logo-header {
    max-width: 200px;
  }
}
