@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Raleway:wght@500;700&family=Roboto&display=swap");

.styles-header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  place-items: center;
  background-color: white;
}

.styles-header * {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  z-index: 2;
}

.styles-header > .side-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px;
}

.styles-header > .side-buttons > a {
  font-size: 18px;
  padding: 8px;
  white-space: nowrap;
  background: rgba(33, 170, 133, 1);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 8px;
}

.styles-header > .side-buttons > a:hover {
  color: white;
  transition: transform 250ms;
  transform: scale(1.05);
}

.navbar-light {
  padding: 0 !important;
  z-index: 2;
}

a.nav-link {
  width: max-content;
  color: #2a2a2a;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-size: 20px;
}

a.nav-link:hover {
  color: rgba(33, 170, 133, 1);
  font-size: 22px;
}

.container-fluid {
  background-color: white !important;
  height: 156px;
  max-width: 100%;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.479);
  margin: 0;
  z-index: 2;
}

#buttons-header {
  justify-content: space-around;
  font-size: 24px;
  width: 100%;
}

.navbar-toggler .collapsed {
  outline: 0 !important;
  border: 0 !important;
}

@media (max-width: 1368px) {
  a.nav-link {
    font-size: 18px;
  }

  a.nav-link:hover {
    font-size: 20px;
  }

  .styles-header > a {
    font-size: 18px;
  }
}

@media (max-width: 718px) {
  .container-fluid {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 24px !important;
  }

  .styles-header * {
    font-size: 20px;
  }

  .styles-header > a {
    font-size: 16px;
    padding: 8px;
  }
}

.logo-header {
  height: auto;
  min-width: 120px;
  aspect-ratio: 2.16;
  position: relative;
  flex: 1;
  max-width: 300px;
  margin: 0;
}

@media (min-width: 992px) {
  .logo-header {
    max-width: 200px;
  }
}

.blinkingLink {
  animation: blink-animation 1.5s infinite;
  font-weight: 500;
}

@keyframes blink-animation {
  0%,
  100% {
    color: rgba(33, 170, 133, 1);
  }
  50% {
    color: black;
  }
}
